* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container-fluid {
    padding: 0 !important;
}

.nav-link {
    color: #19aa8d !important;
}

.nav-link:active {
    color:white !important;
}