* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-link {
    color: #19aa8d !important;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: .7rem !important;
    padding-left: .7rem !important;
}

.nav-link:hover {
    color: white !important;
}

.entry-con {
    padding: 50px;
    text-align: center;
}

.entries {
    margin-top: 20px;
    padding: 50px;
    padding-bottom: 0px;
}

#submit {
    float: right;
    width: 85px;
    height: 43px;
    font-size: 1.2rem;
    background-color: #19aa8d;
}