<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    {% block css %}<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/home.css')}}">{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='img/logo_signup.png')}}" width="50" height="50" class="d-inline-block align-top" alt="logo" href="/home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
            </li>
            <form class="form-inline">
            <a class="nav-link" href="/logout">Logout</a>
            </form>
        </ul>
        </div>
    </nav>
    <div class="entry-con">
        <h1>Write own entry</h1>
        <hr>
        <form method="POST">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="title" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="note" id="note" placeholder="Content"></textarea>
            </div>
            <button type="submit" class="btn btn-success" id="submit">Publish</button>
        </form>
    </div>
    <div class="entries">
        <h1 style="text-align: center;">Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item">
                <span id="notetitle" class="h4">{{ note.title }}</span>
                <br>
                <br>
                {{ note.data }}
                <button type="button" class="close" data-dismiss="alert" style="float: right; margin-left: 10px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span style="float: right; margin: 10px 0 0 10px;">{{ note.date }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
