<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    {% block css %}<link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/home.css')}}">{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="fixed-top">
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% else %}
        <div class="fixed-top">
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='img/logo_signup.png')}}" width="50" height="50" class="d-inline-block align-top" alt="logo" href="/">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
            </li>
            <form class="form-inline">
            <a class="nav-link" href="/logout">Logout</a>
            </form>
        </ul>
        </div>
    </nav>
    <div class="entry-con">
        <h1>Write own entry</h1>
        <hr>
        <form method="POST">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="title" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="note" id="note" placeholder="Content"></textarea>
            </div>
            <button type="submit" class="btn btn-success" id="submit">Publish</button>
        </form>
    </div>
    <div class="entries">
        <h1 style="text-align: center;">Notes</h1>
        <hr>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item">
                <span id="noteTitleValue{{note.id}}" class="h4" style="margin: 0px 10px 10px 0;">{{ note.title }}</span>
                <br>
                <br>
                <span id="noteValue{{note.id}}">{{ note.data }}</span>
                <br>
                <button type="button" class="btn btn-secondary deleteButton" data-toggle="modal" data-target="#delete" style="margin: 10px 0 0 0px; float: right;" onclick="showDelete({{note.id}})">
                    Delete
                </button>
                <button type="button" class="btn btn-info editButton" data-toggle="modal" data-target="#edit" style="margin: 10px 10px 0 0px; float: right;" onclick="showEdit({{note.id}})">
                    Edit
                </button>
                <span class="text-muted" style="float: left; padding: 16px 10px 16px 0;">{{ note.date }}</span>
                <!-- <a href="#" style="margin: 10px 0 0 0px; float: right;">DELETE</a> -->
                <!-- <a href="#" style="margin: 10px 10px 0 0px; float: right;">EDIT</a> -->
                  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editTitle">Edit</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="form-group">
                                    <input class="form-control form-control-lg" type="text" name="titleEdit" id="titleEdit" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" name="noteEdit" id="noteEdit" placeholder="Content"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success" id="submitEdit" data-dismiss="modal" style="width: 130px; float: right;">Save changes</button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this note?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" id="deleteShow" data-dismiss="modal">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
